configs/clipse/clipse.log
configs/swaync/themes/style.css.*
configs/wallust/wallust.toml.bkp
*.log
*.bkp
configs/swaync/themes/wallust/colors-wallust.css
configs/hypr/wallust/wallust-hyprland.conf
configs/waybar/wallust/colors-waybar.css
configs/waybar/wallust/clock-waybar
configs/rofi/wallust/colors-rofi.rasi
configs/swaylock/config
